<nav class="navbar" aria-label="Primary navigation">

    <div class="nav-brand">
        <a id="brand-home-link" href="#" data-nav-route="index.html">Shaun Levenson</a>
    </div>

    <div class="nav-links">

        <a id="home-link" href="#" data-nav-route="index.html">Home</a>

        <div class="dropdown">
            <a id="projects-link" class="dropbtn" href="#" data-nav-route="projects.html" aria-haspopup="true" aria-expanded="false">Projects</a>
            <div class="dropdown-content">
                <a id="tech-link" href="#" data-nav-route="Projects/technology-gdp.html">US Tech GDP Forecast</a>
                <a id="ffrt-link" href="#" data-nav-route="Projects/FFRT_Brief.html">Federal Funds Rate Target Policy</a>
                <a id="ghg-link" href="#" data-nav-route="Projects/GHG_Brief.html">Greenhouse Gas Policy</a>
                <a id="bank-link" href="#" data-nav-route="Projects/Bank_Marketing.html">Predictive Modelling for Marketing</a>
            </div>
        </div>

        <a id="experience-link" href="#" data-nav-route="experience.html">Experience</a>
        
        <a id="resume-link" href="#" data-nav-route="Downloads/Resume/sl_resume_2pg_econ.pdf">Resume</a>
    </div>
</nav>